/*=== Import Fonts ===*/
@include font-face("Montserrat Light", "../fonts/Montserrat/Montserrat-Light.ttf");
@include font-face("Montserrat Regular", "../fonts/Montserrat/Montserrat-Regular.ttf");
@include font-face("Montserrat Medium", "../fonts/Montserrat/Montserrat-Medium.ttf");
@include font-face("Montserrat Semibold", "../fonts/Montserrat/Montserrat-Semibold.ttf");
@include font-face("Montserrat Bold", "../fonts/Montserrat/Montserrat-Bold.ttf");

/*=== Typography Styling ===*/

* {
	font-family: $primary-regular, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: $size-small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary-bold;
	color: $secondary-100;
	font-stretch: normal;
	font-weight: bold;
	letter-spacing: normal;
}

h1 {
	font-size: $size-xx-larg;
	line-height: 1.33;
}

h2 {
	font-size: $size-x-larg;
	line-height: normal;
	&.semi{
		font-family: $primary-SemiBold;
		font-weight: 600;
		line-height: 1.06;
	}
}

h3 {
	font-size: $size-larg;
}

h4 {
	font-size: $size-medium;
	line-height: 1.3;
	&.semi{
		font-family: $primary-SemiBold;
		font-weight: 600;
	}
}

h5 {
	font-family: $primary-SemiBold;
	font-size: $size-regular;
	font-weight: 600;
	line-height: 1.44;
}

h6 {
	font-family: $primary-medium;
	font-size: $size-small;
	font-weight: 500;
	line-height: 1.63;

	&.semi {
		font-family: $primary-SemiBold;
		font-weight: 600;
	}

	&.reg{
		font-family: $primary-regular;
		letter-spacing: 0.8px;
		color: $primary-100;
		text-transform: uppercase;
	}

	&.bold {
		line-height: 1.5;
		font-weight: bold;
		font-family: $primary-bold;
	}
}

p {
	color: $black;
	font-family: $primary-regular;
	line-height: 1.44;
	font-weight: normal;
	font-size: $size-regular;
	letter-spacing: normal;

	&.small {
		font-size: $size-xx-small;
		line-height: 1.71;
		&.italic{
			font-style: italic;
  			line-height: 1.86;
		}
	}
	&.semi {
		font-size: $size-x-small;
		font-weight: 600;
		line-height: 1.89;
	}
	&.reg {
		font-size: $size-x-small;
		line-height: 1.73;
	}
	&.med {
		font-size: $size-small;
		font-weight: 500;
	}
	&.large {
		font-size: $size-medium;
	}
}

label {
	font-family: $primary-SemiBold;
	font-weight: 600;
	font-size: $size-small;
	line-height: 1.63;
	display: block;
}

a {
	font-family: $primary-medium;
	font-size: $size-xx-small;
	font-weight: 500;
	font-stretch: normal;
	letter-spacing: normal;
	color: $secondary-100;
	&:hover{
		color: $primary-100;
		text-decoration: none;
	}
}

::placeholder{
	font-family: $primary-regular;
  font-style: normal;
  letter-spacing: normal;
}

@include for-size(phone-only) {
	h1 {
		font-size: $size-x-larg;
	}
	h2 {
		font-size: $size-larg;
	}
	h3 {
		font-size: $size-medium;
	}
	h4{
		font-size: $size-regular;
	}
	h5{
		font-size: $size-small;
	}
	h6{
		font-size: $size-x-small;
	}
	p {
		font-size: $size-small;

		&.semi {
			font-size: $size-xx-small;
		}
		&.reg {
			font-size: $size-xx-small;
		}
		&.med {
			font-size: $size-x-small;
		}
		&.large {
			font-size: $size-regular;
		}
	}
}