
.flex{
    padding-bottom: 81px; 
    background-image: url(/assets/img/backgrounds/footer1.svg);
    background-size: cover;
    background-position:bottom ;
    padding-left: 135px;
    padding-right: 136px;
    display: flex;
    width:100%;
    position:absolute;
    padding-top: 280px;
      
    
       
      

.form{
    margin-bottom: 73px;
}
.bold{
    color:$white;
}
.down{
    align-items: center;
    text-align: center;
    width: 609px;
    padding-bottom: 73px;
}

.rights{
    margin-right: 135px;
}
.logo{
    width: 270px;
    height:40px;
    margin-bottom: 35.2px;
    
}
     
 .button{
     width: 200px ;
     height:42px ;
     text-align: center;
 }
 .droit{
     font-family:$primary-regular ;
     font-size: 13px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     color: $white;

 }
 .signup{
     margin-bottom: 25px;
 }
 .icons{
     margin-top:30px;
 }
 .meduim{
    box-shadow: 0px 3px 35px rgba(66, 65, 65, 0.1);
    border-radius: 35px;
    width: 570px;
 }


 .top{

    margin-bottom: 301.1px;
     align-self: flex-start;
 }
 input{
    box-shadow: 0px 3px 35px rgba(66, 65, 65, 0.1);
    border-radius: 35px;
    width: 609.19px;
    margin-right: 25.28px;
    margin-left: 42px;
    

 }
 .med{
     width: 528.19px;
     margin-left:73px;
    display: flex;
    font-style: normal;
     color:$white;
     font-size: 24px;
     margin-bottom: 37.15px;
     font-stretch: normal;
     font-style: normal;
    font-weight: 500;
 }
         

        a{
        color:$white;
        }
        h2{
            color: $primary-100   ; 

        }
        .sign {
            color:$black;
            margin-bottom: 30px;
            width: 378px;

        }
        
   @media (max-width:991px) {
    .footer-menu {
     padding-left:0
    }
}
.small{
    color:$white;
}
@media(max-width: 979px){
    .flex {
        background-color:$primary-100;
        background-size: contain;
        background-position: bottom
    }
}

}


  
  
  